# From:
#    https://raw.githubusercontent.com/github/gitignore/29f57d101007d7cdece5ff14f11fad7a176ea802/Go.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# For those that don't have global gitignores
**/.DS_Store
.vscode/

# Logs
logs/